.exit {
	display: inline-block;
	float: right;
	margin: 64px 0 0 0;
}

.content {
	position: relative;
	width: 100%;
	min-height: 650px;
	padding: 0 20px;
	margin: -20px auto 0;
}

footer p {
	margin: 6px 0;
	font-size: 14px;
	color: #99a2aa;
	text-align: center;
}